body{
    font-family: 'Exo 2', sans-serif;
    
}
span{
    color: #f4170c;
}
.order-deals{
    display: flex;
    margin-bottom: 50px;
}
.order-deals h1{
    font-size: 40px;
  
}
.order-deals img{
    width: 100%;
    padding-left: 2%;
}
.half-width{
    width: 42%;
    padding-left: 5%;
}
.fr-btn{
    text-decoration: none;
    color: rgb(240, 176, 176);
    background-image: linear-gradient(rgb(189, 175, 175), #3d3030);
    padding: 10px 40px;
    border-radius: 40px;
   
}
.contact-deals{
    background-image: url(images/7.png); 
}
.contact-deals p{
    margin-top: 50px;
    text-align: justify;
}